body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    color: #30E3CA;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #30E3CA;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{
    color: #40514E;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 5%;
    margin: 50px auto 50px auto;
}
a{
    padding: 10px;
    color: #11999E;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    margin-top: 60px;
    line-height: 2;
   
}
.bottom-container{
   margin-top: 50px;
   background-color: #30E3CA;
   line-height: 2;
   padding: 20px;
}
.pro{
    text-decoration: underline;
}
.top-cloud{
    position:absolute;
    right: 300px;
    top:50px;
}
.bottom-cloud{
    position:absolute;
    left:300px;
    bottom: 300px;
    
}
.profile-img{
    width: 200px;
    height: 200px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.profile-img{
    width: 200px;
    height: 200px;
}
.skill-img{
    width: 25%;
    float: left;
    margin-right: 20px;
}
.btn{
    background-color: #11999E;
    color: whitesmoke;
    border-radius: 8px;
    margin-top: 20px;
    position: relative;
    top: 10px;
    font-family: 'Montserrat', sans-serif;
}
.copyright{
    color: #EAF6F6;
}
